html{color:#000;height:100%;}html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{zoom:1;}
#terminal {
	background-color: #fff;
	width: 620px;
	height: 328px;
	overflow: auto; 
	margin:0;
}
#python {
	visibility: hidden;
	padding: 0; margin: 0;
	font:normal 14px/18px fixed, monospace;
	color:#000080;
	text-align: left;
}
#python div {
	margin: 0; padding: 0;
}
#python div b {
	background-color:#000080;
	color:#FFFFFF;
}
div.answer, div.stdout, div.no_answer, div.load {
    display: none;
}
h3 {
	font-weight:bold;
	font-size:16px;
	margin-bottom:8px;
}
p {
	margin-bottom:8px;
}
/* terminal escape colors */
span.fore_black { color: #2e3436; }
span.fore_dark_gray { color: #888a85; }
span.fore_gray { color: #babdb6; }
span.fore_white { color: #eeeeec; }
span.fore_blue { color: #204a87; }
span.fore_lt_blue { color: #729fcf; }
span.fore_green { color: #788600; font-weight: bold; }
span.fore_lt_green { color: #cbe134; }
span.fore_cyan { color: #c4a000; } /* using cyan for yellows */
span.fore_lt_cyan { color: #fc994f; }
span.fore_red { color: #a40000; }
span.fore_lt_red { color: #ef2929; }
span.fore_purple { color: #5c3566; }
span.fore_lt_purple { color: #ad7fa8; }
span.fore_brown { color: #8f5972; }
span.fore_lt_brown { color: #b9b9de; }
span.back_black { background-color: #2e3436; }
span.back_dark_gray { background-color: #888a85; }
span.back_gray { background-color: #babdb6; }
span.back_white { background-color: #eeeeec; }
span.back_blue { background-color: #204a87; }
span.back_lt_blue { background-color: #729fcf; }
span.back_green { background-color: #788600; }
span.back_lt_green { background-color: #cbe134; }
span.back_cyan { background-color: #c4a000; } /* using cyan for yellows */
span.back_lt_cyan { background-color: #fce94f; }
span.back_red { background-color: #a40000; }
span.back_lt_red { background-color: #ef2929; }
span.back_purple { background-color: #5c3566; }
span.back_lt_purple { background-color: #ad7fa8; }
span.back_brown { background-color: #8f5902; }
span.back_lt_brown { background-color: #b9b96e; }

body {
	background:#FFFFFF repeat-x left top;
	padding:0;margin:0;
	height:100%;
}
#container {
	min-height: 100%;
	position:relative;
}
#header {
	background:transparent  no-repeat right top;
}
#content {
	padding-bottom:75px;
	padding-left:19px;
}
#footer {
	position:absolute;
	bottom:0;
	height:65px;
	width:100%;
	border-top:15px solid #000;
	font-size:108%;
	line-height:1.5em;
}
#footer a {
	color:#000080;
	text-decoration:none;
	font-weight:bold;
}
#credits {
	float:left;
	padding:10px 18px;
}
#morecredits {
	font-size:85%;
	float:left;
}
#morecredits a {
	font-weight:normal;
}
#logo {
	float:right;
	padding:4px 18px;
}
#actions {
	margin:0 0 0 18px;
	padding-top:30px;
	padding-bottom:10px;
}
#actions li {
	border-left:1px solid #ccc;
	float:left;
	padding:0 10px;
}
#actions li a {
	text-decoration:none;
	font-weight:bold;
	font-size:108%;
	color:#AAAAAA;
}
#actions li a:hover {
	color:#000080;
}
.command {
	color:#fff;
	background-color:#000080;
	padding:0 3px 2px 3px;
	font-family:fixed, monospace;
}
#intro {
	padding:60px 0 0 18px;
}

